*{
  margin: 0;
  padding: 0;

}
/* Modern dark color scheme */
body {
  background-color: #948b8b;
  color: #f3f2f2;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container-app {
  max-width: 1200px; /* Set a maximum width for the app */
  margin: 0 auto; /* Center the app horizontally */
  padding: 20px;
}

h1, h4, h6 {
  color: #ffffff;
  
}

.list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #282828;
  padding: 10px;
  margin-bottom: 10px;
}

.expenseIndicator {
  width: 20px;
  height: 20px;
  background-color: #ff5252;
}

.incomeIndicator {
  width: 20px;
  height: 20px;
  background-color: #33cc33;
}

input[type="text"], select {
  background-color: #333333;
  color: #ffffff;
  border: none;
  padding: 5px 10px;
  margin-bottom: 10px;
  width: 100%; /* Make the input and select elements take up full width */
}

button {
  background-color: #00bfff;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

a {
  color: #00bfff;
}
